<div class="row d-flex align-items-stretch g-4">
  <div class="col-md-4" *ngFor="let post of posts; let i = index">
    <div class="card mb-4">
      <img [src]="post.imageUrl" class="top-0" alt="Card Image">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.text }}</p>
        <p class="card-text"><strong>Tags:</strong> {{ post.tags }}</p>
        <p class="card-text" *ngIf="post.user"><strong>Author:</strong> {{ post.user.fullName }}</p>
        <p class="card-text" *ngIf="!post.user"><strong>Author:</strong> Unknown</p>
        <button [routerLink]="['/post-details/', post._id]" class="btn btn-primary">Details</button>
      </div>
    </div>
  </div>
</div>

