<div class="container-fluid">
  <form (ngSubmit)="create()">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="title" name="title" required>
    </div>
    <div class="mb-3">
      <label for="text" class="form-label">Text</label>
      <textarea class="form-control" id="text" [(ngModel)]="text" name="text" rows="3" required></textarea>
    </div>
    <div class="mb-3">
      <label for="tags" class="form-label">Tags</label>
      <input type="text" class="form-control" id="tags" [(ngModel)]="tags" name="tags">
    </div>
    <div class="mb-3">
      <label for="imageUrl" class="form-label">Image URL</label>
      <input type="text" class="form-control" id="imageUrl" [(ngModel)]="imageUrl" name="imageUrl">
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
  </form>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Text</th>
      <th scope="col">Tags</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.text }}</td>
      <td>{{ post.tags }}</td>
      <td>
        <a [routerLink]="['/post-update', post._id]" class="btn btn-secondary">Edit</a>
      </td>
      <td>
        <button type="button" class="btn btn-danger">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>


