<div *ngIf="user">
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5" width="150px" [src]="user.avatarUrl"
             alt="User Avatar">
        <span class="font-weight-bold">{{ user.fullName }}</span>
      </div>
    </div>
    <div class="col-md-5">
      <div class="p-3 py-5">
        <div class="mb-3">
          <span class="font-weight-bold">Email:</span> {{ user.email }}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
